@charset "utf-8";

a:active { 
    background-color: yellow;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(211,211,211);
}


header img#twittericon {
	display: block;
	position: absolute;
	top: 1%;
	right: 1%;
	max-width: 3%;
	border-radius: 10px;
}



header img#bannerimg {
	display: block;
	width: 100%;
	max-height: 250px;
}

header img#homeicon {
	display:block;
	position: absolute;
	top: 50px;
	left: 0px;
	max-width: 10%;
}

header img#flashname {
	display: block;
	position: absolute;
	top: 0px;
	right: 350px;
	padding: 50px;
}


.nav ul {
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li, .mobileNav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a, .mobileNav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover, .mobileNav a:hover {
  background-color: #005f5f;
}
 
.nav a.active, .mobileNav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

div#container {
	float: right;
	width: auto;
	border: 1px solid red;
    background: blue;

}

div#leftside {
	height: 100%;
	position: fixed;
	z-index: 0;
	float: left;
}

article {
	margin-left: 12%;
}

article {
	font-size: 20px;
}

ul > li {
	list-style-type: none;
}

h1 {
	font-style: oblique;
}


@media only screen and (min-width: 641px) {
  .nav li {
    width: 200px;
	text-shadow: black 2px 1px 0px, black 4px 2px 5px;  
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
  
  .mobileNav {
	display: none;
}
}

@media only screen and (max-width: 640px) {
	header > img#bannerimg, header a> img#homeicon, header a> img#twittericon {
		display: none;
	}
	
	.nav {
		display: none;
	}

	
	ul {
		list-style-type: none;
	}
	
	div#leftside {
		display: none;
	}
	
	/* RESIZE IMAGES */
	img#roguespic1 {
		width: 100%;
	}
	
	img#groddpic1 {
		display: none;
	}
	
	img#reversepic1 {
		display: none;
	}
	
	img#boomerangpic1 {
		width: 100%;
	}
	
		
	/* Make a hamburger */

	
	#menuicon {
		display: inline-block;
	}
	
	#mobilepic {
		float: left;
		width: 45px;
		height: auto;
	}
	
	nav ul, nav:active ul {
		display: none;
		
		position: absolute;
		padding: 20px;
		background: #444;
		border: 5px solid #444;
		left: 0px;
		top: 29px;
		width: 85%;
		border-radius: 4px 0 4px 4px;
	}
	
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
	
	nav:hover ul {
		display: block;
	}
	
	.mobileNav {
		background: grey;
		height: 45px;
	}
}